.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}
.overflow-y-auto {
  overflow-y: auto;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.w-full {
  width: 100%;
}
.w-notfull {
  width: 74.9999%;
}
.w-half {
  width: 49.9999%;
}
.w-quart {
  width: 24.9999%;
}
.h-full {
  height: 100%;
}
.flex {
  display: flex;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-even {
  justify-content: space-evenly;
}
.align-end {
  align-items: flex-end;
}
.align-center {
  align-items: center;
}
.align-stretch {
  align-items: stretch;
}
.align-baseline {
  align-items: baseline;
}
.content-end {
  align-content: flex-end;
}
.content-center {
  align-content: center;
}
.content-between {
  align-content: space-between;
}
.content-around {
  align-content: space-around;
}
.content-stretch {
  align-content: stretch;
}
.bg-gray-300 {
  background-color: #f8f9fa;
}
.border-gray-300 {
  border: 1px solid #f8f9fa;
}
.blue-700 {
  color: #1f5fac;
}
.red-700 {
  color: #e03131;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.no-border {
  border: none !important;
}
.text-nowrap {
  text-wrap: nowrap;
}
.padding-sm {
  padding: 0.5rem;
}
.padding-m {
  padding: 0.75rem;
}
.padding {
  padding: 1rem;
}
.avaitar {
  width: 4rem;
  height: 4rem;
}
.cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: regba(0, 0, 0, 0.5);
}
.gap-sm {
  gap: 5px;
}
.gap {
  gap: 10px;
}
.gap-l {
  gap: 20px;
}
.p-0 {
  padding: 0;
}
.m-0 {
  margin: 0;
}
.bx-xxs {
  font-size: 0.75rem;
}
.button-small {
  height: 1.875rem;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  color: #3a3a40;
  border-radius: 6px;
  padding: 0 0.75rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 1.15;
}
.radio-button {
  height: 1.5rem;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  color: #3a3a40;
  font-family: inherit;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 1.15;
}
.radio-selected {
  background-color: #3a3a3a;
  color: #ffffff;
}
.capsule {
  margin-top: 0.2rem;
  margin-right: 0.2rem;
  padding: 0.2rem 0.6rem;
  border: 1px solid #e3e3e3;
  border-radius: 40px;
}
.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
}
.overlay-wrapper {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  min-width: 24rem;
}
.tab-container {
  margin: 0;
  padding: 0;
  background-color: #e9ecef;
}
.tab {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  border-bottom: 2px solid #e9ecef;
  cursor: pointer;
  height: 3.125rem;
  padding: 0 1rem;
  color: #000000;
  background-color: #e9ecef;
  a {
    font-weight: 600;
    &:hover {
      color: inherit;
    }
  }
  &.active {
    background-color: #ffffff !important;
    color: #000;
  }
}
.assigned-job {
  border: 1px solid #e9ecef;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
}
.gray-capsule {
  background-color: #f8f9fa;
  color: #495057;
  padding: 3px 7px;
  border-radius: 4px;
  border: 1px solid #e9ecef;
}
.letter-icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  background-color: #fbddb3;
  color: #f08c00;
}
.text-large {
  font-size: 1.5rem;
}
.text-medium {
  font-size: 1.125rem;
}
.text-small {
  font-size: 0.75rem;
}
.text-xsmall {
  font-size: 0.5rem;
}
.icon-button-filled {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2.5rem;
  background-color: #e6f1ff;
  color: #2570ca;
  border: none;
}
.icon-button-filled-mini {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 2.5rem;
  background-color: #e6f1ff;
  color: #2570ca;
  border: none;
}
.card {
  border: 1px solid #f1f3f5;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 4px;
  p {
    margin: 0;
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 18px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2196f3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
header {
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.07);
  padding: 0 1rem;
}
.search-feild {
  border: 1px solid #000;
  border-radius: 4px;
  padding: 0px 1px;
}
.red-button {
  background-color: #fceaea;
  border: 1px solid #f6c1c1;
  color: #e03131 !important;
}
.blue-button {
  background-color: #2570ca;
  border: 1px solid #2570ca;
  color: #ffffff;
}
.white-button {
  background-color: #fff;
  border: 1px solid #c8ccd2;
  color: #c8ccd2;
}

.sidebar-button {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  border-radius: 20px 0px 0px 20px;
  box-shadow: 0px 0px 8px #e3e3e3;
}

@media screen and (max-width: 1280px) {
  .sidebar {
    display: none;
  }
  .w-notfull {
    width: 100%;
  }
}

@media screen and (max-width: 780px) {
  .search-feild {
    display: none;
  }
  .overlay-sidebar-wrapper {
    .sidebar {
      display: flex;
    }
  }
}
